/* Specify the body style */
body {
    /* Specify the margin */
    /* Source: https://www.w3schools.com/css/css_margin.asp */
    margin: 0px;
    /* Specify the top-padding so that the fixed navigation bar (height: 58px) is not blocking the body content */
    /* Source: https://stackoverflow.com/questions/10336194/top-nav-bar-blocking-top-content-of-the-page and https://www.w3schools.com/cssref/pr_padding.asp */
    padding-top: 58px;
    /* Specify the background color */
    /* Source: https://www.w3schools.com/cssref/pr_background-color.asp */
    background-color: mintcream;
    /* Specify the font */
    /* Source: https://www.w3schools.com/cssref/pr_font_font-family.asp */
    font-family: Arial, Helvetica, sans-serif;
    /* Specify the letter spacing between characters */
    /* Source: https://www.w3schools.com/cssref/pr_text_letter-spacing.asp */
    letter-spacing: 1px;
}

/* Specify the navigation bar style*/
/* Source: https://www.w3schools.com/css/css_navbar.asp and https://www.w3schools.com/css/css_navbar_horizontal.asp */
nav{
    /* Specify the background color */
    background-color: steelblue;
    /* Fix the navigation bar to stay on top of the page */
    position: fixed;
    top: 0px;
    width: 100%;
}
ul {
    /* Remove the bullets and the browser default settings */
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
li a{
    /* Display the links as block elements and have them to float next to each other */
    display: block;
    float: left;
    /* Specify the padding */
    padding: 20px;
    /* Remove the decoration of the text */
    text-decoration: none;
    /* Specify the color, the font weight, the letter spacing, and the alignment of the text */
    color: white;
    font-weight: bold;
    text-align: center;
}
/* Specify the background color of the link of active page so that the users are able to know which page they are on */
li a.active {
    background-color: rgb(20, 80, 140);
}
/* Specify the background color of the link on hover */
li a:hover {
    background-color: rgb(110, 160, 200);
}

/* Specify the size of the banner and set the maximum size to fit the size of the screen */
/* Source: https://www.w3schools.com/css/css3_images.asp and https://www.w3schools.com/html/html_responsive.asp */
img.banner{
    width: 100%;
    max-width: 1920px;
    height: auto;
}

/* Index: Specify the size and style of the profile pictures */
img.profile{
    width: 300px;
    height: 300px;
    float: right;
    margin-left: 50px;
    margin-bottom: 50px;
    /* Define the radius of the picture's corners */
    /* Source: https://www.w3schools.com/css/css3_borders.asp */
    border-radius: 10%;
}

/* Index: Remove the float and left margin for the profile pictures in portrait browser */
@media only screen and (orientation: portrait){
    img.profile{
        float: none;
        margin-left: 0px;
    }
}

/* Specify the padding of the main content */
main{
    padding: 80px;
}

/* Specify the new padding for main content in portrait browser */
@media only screen and (orientation: portrait){
    main{
        padding: 40px;
    }
}

/* Specify the padding of the section */
section{
    padding-bottom: 40px;
}

/* Specify the padding of the subsection */
div.subsection{
    padding-bottom: 5px;
    padding-left: 20px;
}

/* Specify the h1 heading style */
h1{
    margin-top: 0px;
    font-family: Helvetica, Arial, sans-serif;
    color: rgb(20, 80, 140);
    font-size: 32px;
    font-weight: 900;
}

/* Specify the h2 heading style */
h2{
    font-family: Helvetica, Arial, sans-serif;
    color: rgb(40, 90, 140);
    font-size: 24px;
}

/* Specify the paragraph style */
p{
    font-family: Helvetica, Arial, sans-serif;
    color: rgb(60, 80, 100);
    font-size: 16px;
    /* Specify the line-height */
    /* Source: https://www.w3schools.com/cssref/pr_dim_line-height.asp */
    line-height: 1.5;
}

/* Resume: Specify the style for degree and organization text */
p.degree, p.organization{
    color: rgb(40, 90, 140);
    font-size: 18px;
    font-weight: bold;
}

/* Resume: Specify the style for date text */
p.date{
    color: rgb(111, 130, 150);
    font-size: 14px;
    font-style: italic;
}

/* Contact: Specify the style for the inline element */
span.contact{
    font-weight:bold;
}

/* Contact: Specify the style for links for phone number, email address, and other websites */
a.contact {
    color: rgb(20, 80, 140);
    text-decoration: none;
}